.fee-calculation-container {

  min-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.fee-calculation-container h2 {
  font-size: 20px;
  margin-top: 10px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;


}

.tab {
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: black;
  position: relative;
  /* 为伪元素定位 */
  /* background-color: var(--my-bg-color); */
}

.tab:hover {
  background-color: rgba(12, 87, 226, 0.1);
  /* 悬浮时的背景色 */
  color: var(--hoverFontColor);
  background-color: var(--hoverBackground);
}

.tab::after {
  content: '';
  display: block;
  height: 2px;
  /* 细线的高度 */
  background-color: transparent;
  /* 默认状态下透明 */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  /* 细线与选项卡的距离 */
  transition: background-color 0.3s ease;
}

.active-tab {
  color: #3c80ff;
  /* 选中时的字体颜色 */
  font-weight: bold;
}

.active-tab::after {
  background-color: #3c80ff;
  /* 选中时的细线颜色 */
}