/* MusicMenu.module.css - 简化后的样式 */
.musicMenu {
  /* position: relative; */
  width: 100%;
  height: calc(100dvh - 64px);
  box-sizing: border-box;
  background-color: chartreuse;
  /* overflow: hidden; */
}

.menuContainer {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .musicMenu {
      height: calc(100dvh - 65px);
  }
}